@import url('../../../styles.css');

.skr-query-config__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: var(--skr-margin-normal);
}
