.skr-text-input {
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border-color: var(--vscode-input-border);
  font-size: var(--vscode-font-size);
  font-family: var(--vscode-font-family);
  border-width: 1px;
  border-style: solid;
  height: 28px;
  padding: 4px 6px;
  border-radius: 2px;
}

.skr-text-input:focus {
  outline: 1px solid var(--vscode-inputValidation-infoBorder);
  outline-offset: -1px;
  box-shadow: 0 0 3px rgba(0, 0, 255, 0.3);
}
