.skr-details__container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.skr-details__header {
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
  height: var(--skr-height-normal);
  display: flex;
  gap: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  white-space: nowrap;
}

.skr-details__header-icon {
  width: fit-content;
  display: inline-block;
  transition: transform 0.2s;
}

.skr-details__header-icon--open {
  transform: rotate(90deg);
}

.skr-details__header-separator-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.skr-details__header-separator {
  border: 1px solid var(--vscode-focusBorder);
  width: 100%;
}

.skr-details__content--closed {
  display: none;
  flex-grow: 0;
}

.skr-details__content--open {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}
