@import url('../styles.css');

.skr-request-container {
  padding: var(--skr-margin-10);
  width: 100%;
  height: 100%;
}

.skr-request-config {
  margin-bottom: var(--skr-margin-5);
}

.skr-request-details {
  margin-top: 10px;
}
