.skr-query-response__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.skr-query-response__skr-tab-container {
  /* to remove the height:100% on the child */
  height: auto;
  flex-grow: 1;
}

.skr-query-response__menu-tag-key {
  font-weight: bold;
  margin-right: 2px;
  color: var(--vscode-foreground);
}
