/* global styles and variables */
/* -------------------
|        RESET       |
--------------------*/
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: var(--vscode-font-size);
  font-family: var(--vscode-font-family);
  color: var(--vscode-foreground);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

/* -------------------
|      PROPERTIES    |
--------------------*/
:root {
  /* heights */
  --skr-height-normal: 28px;

  /* border radius */
  --skr-border-radius-normal: 2px;

  /* paddings */
  --skr-padding-normal: 0.3125rem;
  --skr-padding-l: 0.625rem;

  /* margins */
  --skr-margin-xs: 0.125rem;
  --skr-margin-normal: 0.3125rem;
  --skr-margin-l: 0.625rem;

  /* z-index */
}
